
:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd982;
}

/*Nav bar General*/

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--hospital-green);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    
}

.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    border-radius: 8px;
    border: 1px solid var(--hospital-gree);
}

.navbar-email img {
    margin-left: 10px;
    transform: rotate(90deg);
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50px;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    margin-top: 10px;
    margin: 0 40px 20px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
}
.row .col-md-4 {
    flex: auto;
    max-width: 100%;
}
.row .col-12, .mb-2, .col-md-4{ 
    margin-top: 20px;
    gap: 26px;
    place-content: center;
        
}
.row .card-img-top{ 
    padding: 10px 10px;
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }
}

